body {
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    background-color: slategrey whitesmoke;
}

.container{
    background-color: maroon;
    width: 700px;
    max-width: 80%;
    border-radius: 5px;
    padding: 40px;
    height: 450px;
    margin-top: -250px;
    
}

#question{
    font-size: 30px;
    text-align: center;
    color: goldenrod;
    text-shadow: 0 0 10px black;
}

.btn{

    padding: 20px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    
}
.btn-answer{
    width: 150px;
    height: 50px;
    text-align: center;
    display: block;
    float: center;
    margin: auto;
    margin-left: 230px;
    font-size: 20px;
    padding: 10px;
    overflow: auto;
    margin: 10px;
    box-shadow: 0 0 10px;
}
#start-btn{
    padding: 13px;
    float: left;
    box-shadow: 0 0 5px;
}

#next-btn{
    float: right;
    padding: 13px;
    box-shadow: 0 0 5px;
}

/* .hide{
    display: none;
} */